<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091823141184-cor8n67bnfa0r43r5gs4ss3j5nmlggbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091823141184-cor8n67bnfa0r43r5gs4ss3j5nmlggbb</string>
	<key>API_KEY</key>
	<string>AIzaSyAgwG72HtVjP25Csmm-D4_uS6kEU25x4hU</string>
	<key>GCM_SENDER_ID</key>
	<string>1091823141184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>boombastic18.Messenger</string>
	<key>PROJECT_ID</key>
	<string>epam-messenger-ios-school</string>
	<key>STORAGE_BUCKET</key>
	<string>epam-messenger-ios-school.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091823141184:ios:819a690e26bd0601ad3aa5</string>
	<key>DATABASE_URL</key>
	<string>https://epam-messenger-ios-school.firebaseio.com</string>
</dict>
</plist>